html
  head
    title= title
    link(rel='stylesheet',href='https://bootswatch.com/4/litera/bootstrap.min.css')
  body
  div(class="container")
    h1= message
    p v1.1
    h4: a(href="/api/v1/nodes") API
    each node, index in nodes
      h4 #{node.metadata.name}
      ul(class="list-group")
        each condition, index in node.status.conditions
          li(class="list-group-item d-flex justify-content-between align-items-center") #{condition.type}
            small(class="text-info") #{condition.message}
            case condition.type
              when "Ready"
                if condition.status === "True"
                  span(class="badge badge-success badge-pill") #{condition.status}
                if condition.status === "False"
                  span(class="badge badge-danger badge-pill") #{condition.status}
                if condition.status === "Unknown"
                 span(class="badge badge-warning badge-pill") #{condition.status}
              default
                if condition.status === "True"
                  span(class="badge badge-danger badge-pill") #{condition.status}
                if condition.status === "False"
                  span(class="badge badge-success badge-pill") #{condition.status}
                if condition.status === "Unknown"
                 span(class="badge badge-warning badge-pill") #{condition.status}
